<div ng-controller="AboutCtrl" class="panel panel-default">
  <div class="panel-body">
    Should enter: originalUrl and optional desiredShort. Api example:
  </div>
  <div class="panel-body">
    GET {{ base }}api/v1/short?originalUrl=https://yandex.ru/
  </div>
  <div class="panel-body">
    GET {{ base }}api/v1/short?originalUrl=https://yandex.ru/&desiredShort=myshort
  </div>
  <div class="panel-body">
    response {"message":"Created short url successfully: {{ base }}sStImVBh","short":"sStImVBh"
  </div>
</div>
