body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height:100%;
}
#my-listbox {
    top: auto;
    left: auto;
}
#my-listbox2 {
    top: auto;
    left: auto;
}
#my-listbox3 {
    top: auto;
    left: auto;
}
#menu {
    position: absolute;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}
#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
input {
    width: 10em;
}
