<nav class="navbar  navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-text ">
        <a data-ui-sref-active="active" data-ui-sref="home" class="navbar-link">
          <i class="fa fa-book"></i>
          Home
        </a>
      </p>

      <p class="navbar-text ">
        <a data-ui-sref-active="active" data-ui-sref="about" class="navbar-link">
          <i class="fa fa-book"></i>
          About
        </a>
      </p>
    </div>
  </div>
</nav>
