<div ng-controller="HomeCtrl">

  <div class="panel panel-default">
    <div class="panel-body">
      {{ panel }}
    </div>
  </div>

  <!--<md-button class="md-raised md-primary">Home</md-button>-->

  <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input data-ng-model="originalUrl" type="text" class="form-control" placeholder="Put valid url">
    </div>
    <button ng-click="gen()"  type="submit" class="btn btn-primary">SHORTEN URL</button>
    <div class="form-group">
      <p class="navbar-text">{{ base }}</p>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="desiredShort" value="{{ desiredShort }}" placeholder="Enter desired short">
    </div>
  </form>


</div>
